
<div class="main">
<h1>About Us</h1>

<p>Pampered Pup Doggy Daycare and Spa is devoted to keeping your canine companion healthy and active. Our 29,000 square foot, state-of-the-art resort offers everything your doggie's heart desires. They'll benefit from the latest in canine wellness and fitness regimens. It's a comprehensive approach derived from owner Stella Lovich's inspirational experience treating her own beloved dogs.</p>

<p>After getting in shape, your pet can luxuriate in a healing seaweed wrap or soak in a soothing oatmeal bath. From seaweed wraps and bubble baths to heated,your pampered pooch will beg for more.</p>

<p>The first of its kind in the country, Pampered Pup Doggy Daycare and Spa provides heaven and healing on all levels including:</p>

  <ul>
   <li>Daycare &amp; Senior Dog Daycare</li>
   <li>Boarding</li>
   <li>Grooming &amp; Spa Services</li>
   <li>Therapeutic Skin &amp; Body Treatments</li>
   <li>Underwater Therapy</li>
   <li>Canine Massage &amp; Laser Treatments</li>
   <li>Fitness for Overweight Dogs</li>
   <li>High Quality Dog Food and Treats</li>
   <li>Doggie Accessories</li>
  </ul>

<p>This is just a small sampling of our spa, fitness, and retail offerings. Contact us for more information!</p>

<p>Prior to attending daycare and spa treatments, your dog(s) must be up-to-date with vaccinations (DHLPP, Bordetella, and Rabies). All vaccines must be administered by a veterinarian and proof is required. Vaccinations administered at home will not be accepted.</p>

</div>
