<div class="jumbotron">
  <h1 class="display-3">February Specials</h1>
  <br>
  <p class="lead">This month we are offering a 50% discount on all grooming services including Custom Skin &amp; Body Treatments, Coat Coloring &amp; Restoration, and Glitter, Glam, Bling &amp; Feathers.</p>

  <hr class="m-y-2">
  <p>Let your dog be pampered to the nines with our organic specialty hair and body products.</p>
  <br>
 <!-- <p class="lead">
    <a class="btn btn-info btn-lg" href="#" role="button">Learn more</a>
  </p>
  -->

</div>

<div class="main">
<h1>Welcome</h1>

<p>Pampered Pup Doggy Daycare and Spa is devoted to keeping your canine companion healthy and active. Our 29,000 square foot, state-of-the-art resort offers everything your doggie's heart desires. They'll benefit from the latest in canine wellness and fitness regimens. It's a comprehensive approach derived from owner Stella Lovich's inspirational experience treating her own beloved dogs.</p>

<p>Enroll your doggies in Pampered Pup's Daycare to give them some much needed structured play and fitness. It's the perfect option when your schedule gets too hectic to shower your dog with the attention they deserve. You can even schedule a swim or spa service to help your pup unwind and de-stress.</p>


<h2>Services</h2>
<div class="row">
<div class="col-sm-4">
  <ul>
    <li>Daycare & Senior Dog Daycare</li>
    <li>Boarding</li>
    <li>Grooming and Spa Services</li>
  </ul>
</div>
<div class="col-sm-4">
  <ul>
    <li>Therapeutic Skin &amp; Body Treatments</li>
    <li>Underwater Theraphy</li>
    <li>Dog swimming pool</li>
  </ul>
</div>
<div class="col-sm-4">
  <ul>
    <li>Canine Massage &amp; Laser treatments</li>
    <li>Fitness for Overweight Dogs</li>
    <li>High Quality Doog Food and Treats</li>
  </ul>
</div>
</div>
<br>
<p>Interviews are required for new Daycare participants and are by appointment only. Please contact us for availability and scheduling.</p>

<p>Prior to attending Daycare and spa treatments, your dog(s) must be up-to-date with vaccinations (DHLPP, Bordetella, and Rabies). All vaccines must be administered by a veterinarian and proof is required. Vaccinations administered at home will not be accepted.</p>

<p>All dogs must be spayed or neutered to participate in daycare and spa treatments.</p>

</div>
